<footer class="padding-50 e-bg-light-texture">
   <div class="container-fluid nopadding">
      <div class="row wow fadeInDown" data-wow-delay=".2s" data-wow-offset="10">
         <div class="col-md-3">
            <h4 class="font-accident-two-normal uppercase">Samuel Anderson</h4>
            <p class="inline-block">
               Quality Web Design, Ui / UX Design, Photo services. Part-time or Fulltime.
            </p>
            <div class="divider-dynamic"></div>
         </div>
         <div class="col-md-3 cv-link">
            <h4 class="font-accident-two-normal uppercase">Download cv</h4>
            <div class="dividewhite1"></div>
            <a href="#!">English</a>
            <a href="#!">German</a>
            <a href="#!">Spanish</a>
            <div class="divider-dynamic"></div>
         </div>
         <div class="col-md-3">
            <h4 class="font-accident-two-normal uppercase">Subscribe</h4>
            <div class="dividewhite1"></div>
            <input>
            <!--<p>Lorem ipsum dolor sit amet...</p>-->
            <div class="divider-dynamic"></div>
         </div>
         <div class="col-md-3">
            <h4 class="font-accident-two-normal uppercase">Follow me at</h4>
            <div class="inline-block"><a href="#!"><i class="flaticon-facebook45"></i></a></div>
            <div class="inline-block"><a href="#!"><i class="flaticon-twitter39"></i></a></div>
            <div class="inline-block"><a href="#!"><i class="flaticon-pinterest28"></i></a></div>
            <div class="inline-block"><a href="#!"><i class="flaticon-linkedin22"></i></a></div>
            <div class="inline-block"><a href="#!"><i class="flaticon-vimeo22"></i></a></div>
            <div class="inline-block"><a href="#!"><i class="flaticon-soundcloud8"></i></a></div>
            <div class="divider-dynamic"></div>
         </div>
      </div>
      <div class="dividewhite1"></div>
      <div class="row wow fadeInDown" data-wow-delay=".4s" data-wow-offset="10">
         <div class="col-md-12 copyrights">
            <p>© 2016 Samuel Anderson.</p>
         </div>
      </div>
   </div>
</footer>
