<header id="header-full-top" class="hidden-xs header-full">
    <div class="container">
        <div class="header-img"><a href="/" title="Home"><img src="/assets/img/colors/collierescueinc/logo_big.png" alt="CRI Header image"/></a></div>
        <div class="header-full-title">
            <p>&nbsp;</p>
            <h1 class="animated fadeInRight"><a href="/">collie <span>rescue</span> inc.</a></h1>
            <p class="animated fadeInRight">A Collie to Rescue.  A Friend for Life.</p>
            <p>&nbsp;</p>
        </div>
        <nav class="top-nav">
            <ul class="top-nav-social hidden-sm">
                <li><a href="https://twitter.com/CollieRescue" class="animated fadeIn animation-delay-7 twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/CollieRescueInc" class="animated fadeIn animation-delay-8 facebook"><i class="fa fa-facebook"></i></a></li>
            </ul>
        </nav>
    </div> <!-- container -->
</header> <!-- header-full -->