<header id="header-full-top" class="hidden-xs header-full">
    <div class="container">
        <div class="header-img"><a href="/" title="Home"><img src="/assets/img/colors/collierescueinc/logo_big.png" alt="CRI Header image"/></a></div>
        <div class="header-full-title">
            <p>&nbsp;</p>
            <h1 class="animated fadeInRight"><a href="/">collie <span>rescue</span> inc.</a></h1>
            <p class="animated fadeInRight">A Collie to Rescue.  A Friend for Life.</p>
            <p>&nbsp;</p>
        </div>
        <nav class="top-nav">
            <ul class="top-nav-social hidden-sm">
                <li><a href="https://twitter.com/CollieRescue" class="animated fadeIn animation-delay-7 twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/CollieRescueInc" class="animated fadeIn animation-delay-8 facebook"><i class="fa fa-facebook"></i></a></li>
            </ul>
        </nav>
    </div> <!-- container -->
</header> <!-- header-full -->


<nav class="navbar navbar-static-top navbar-default navbar-header-full yamm navbar-static-top" role="navigation" id="header">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <a id="ar-brand" class="navbar-brand hidden-lg hidden-md hidden-sm" href="index.html">collie <span>rescue</span> inc.</a>
        </div> <!-- navbar-header -->

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" aria-expanded="false">About Us</a>
                     <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                        <li><a href="/about/index.html">Our Process</a></li>
                        <li><a href="/about/guidelines.html">Guidelines</a></li>
                        <li><a href="/about/questions.html">Frequently Asked Questions</a></li>
                        <li><a href="/about/contact.html">Contact CRI</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" aria-expanded="false">Support CRI</a>
                     <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                        <li><a href="/support/donations.html">Donations</a></li>
                        <li><a href="/support/volunteer.html">Volunteer Opportunities</a></li>
                        <li><a href="/support/companions.html">Collie Companions</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" aria-expanded="false">Collies!</a>
                     <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                        <li><a href="/pets/index.html">Apply for Adoption</a></li>
                        <li><a href="/pets/available.html">Looking for a Home</a></li>
                        <li><a href="/pets/adopted.html">Happy Tails (Adopted)</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/related.html" aria-expanded="false">Related</a>
                </li>
             </ul>
        </div>


    </div><!-- container -->
</nav>