<header>

   <section id="top-navigation" class="container-fluid nopadding">

      <div class="row nopadding ident e-bg-light-texture">

         <!-- Photo -->
         <a href="#!">
            <div class="col-md-5 col-lg-4 vc-photo">&nbsp;</div>
         </a>
         <!-- /Photo -->

         <div class="col-md-7 col-lg-8 vc-name nopadding">
            <!-- Name-Position -->
            <div class="row nopadding name">
               <div class="col-md-10 name-title"><h2 class="font-accident-two-light uppercase">Samuel Anderson</h2></div>
               <div class="col-md-2 nopadding name-pdf">
                  <a href="#" class="hvr-sweep-to-right"><i class="flaticon-download149" title="Download CV.pdf"></i></a>
               </div>
            </div>
            <div class="row nopadding position">
               <div class="col-md-10 position-title">

                  <section class="cd-intro">
                     <h4 class="cd-headline clip is-full-width font-accident-two-normal uppercase">
                        <span>The experienced </span>
                        <span class="cd-words-wrapper">
                           <b class="is-visible">UI/UX Designer</b>
                           <b>Web Designer</b>
                           <b>Photographer</b>
                        </span>
                     </h4>
                  </section>

               </div>
               <div class="col-md-2 nopadding pdf">
                  <a href="#" class="hvr-sweep-to-right"><i class="flaticon-behance7" title="My Behance Portfolio"></i></a>
               </div>
            </div>
            <!-- /Name-Position -->

            <!-- Main Navigation -->

{% include main-nav.html %}

            <!-- /Main Navigation -->

         </div>
      </div>
   </section>

</header>