            <ul id="nav" class="row nopadding cd-side-navigation">
               <li class="col-xs-4 col-sm-2 nopadding menuitem green">
                  <a href="about.html" class="hvr-sweep-to-bottom"><i class="flaticon-technology"></i><span>about us</span></a>
               </li>
               <li class="col-xs-4 col-sm-2 nopadding menuitem blue">
                  <a href="support.html" class="hvr-sweep-to-bottom"><i class="flaticon-money"></i><span>support cri</span></a>
               </li>
               <li class="col-xs-4 col-sm-2 nopadding menuitem cyan">
                  <a href="collies.html" class="hvr-sweep-to-bottom"><i class="flaticon-dog"></i><span>our collies</span></a>
               </li>
               <li class="col-xs-4 col-sm-2 nopadding menuitem orange">
                  <a href="adpted.html" class="hvr-sweep-to-bottom"><i class="flaticon-food"></i><span>happy tails</span></a>
               </li>
               <li class="col-xs-4 col-sm-2 nopadding menuitem red">
                  <a href="questionnaire.html" class="hvr-sweep-to-bottom"><i class="flaticon-business"></i><span>apply to adopt</span></a>
               </li>
               <li class="col-xs-4 col-sm-2 nopadding menuitem yellow">
                  <a href="related.html" class="hvr-sweep-to-bottom"><i class="flaticon-education"></i><span>related</span></a>
               </li>
            </ul>
